
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitim Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Okul Adı</th>
        <th>Derece</th>
        <th>Yıl Aralığı</th>



    </tr>

    <tr>
        <td>1</td>
        <td>Şerif Remzi İlköğretim Okulu</td>
        <td>4 / 5</td>
        <td>1997-2005</td>

    </tr>

    <tr>
        <td>2</td>
        <td>İzmir Anadolu Lisesi</td>
        <td>4.2 / 5</td>
        <td>2005-2009</td>

    </tr>

    <tr>
        <td>3</td>
        <td>Dokuz Eylül Üniversitesi</td>
        <td>3.65 / 4</td>
        <td>2011-2016</td>

    </tr>

</table>




