
@{
    ViewBag.Title = "AddAward";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Yeni Ödül Ekleme Sayfası</h2>

<form method="post">

    <label>Ödül Adı</label>
    <input type="text" name="AwardTitle" class="form-control" />
    <br />
    <label>Ödül Açıklaması</label>
    <input type="text" name="AwardDescription" class="form-control" />
    <br />
  
    <br />
    <button class="btn btn-info">Ödülü Ekle</button>

</form>

