
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddProject</h2>

<form method="post">

    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Tanım</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <label>Kategorisi</label>
    <input type="text" name="ProjectCategory" class="form-control" />
    <br />
    <label>Tamamlanma Süresi</label>
    <input type="text" name="CompleteDay" class="form-control" />
    <br />
    <label>Fiyatı</label>
    <input type="text" name="Price" class="form-control" />
    <br />
    <button class="btn btn-info">Ekle</button>

</form>

