

@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekleme Sayfası</h2>

<form method="post">

    <label>Yetenek Başlığını Giriniz</label>
    <input type="text" name="SkillTitle" class="form-control" />
    <br />

    <input type="text" name="SkillValue" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>


